.App {
    text-align: center;
}

.smooth-anim-fade-in {
    animation: smooth-fade-in 1s forwards;
}

.smooth-anim-scale-in {
    animation: smooth-scale-in 1s forwards;
}

.smooth-anim-left-in {
    animation: smooth-left-in 1s forwards;
}

.success {
    animation: success 1s forwards;
}

@keyframes success {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: green;
    }
}

@keyframes smooth-fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes smooth-scale-in {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes smooth-left-in {
    0% {
        transform: translateX(50vw);
    }
    100% {
        transform: translate(0);
    }
}